.products
{
    padding: 2rem 0%;
}

.products .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    align-items: center;
}

.products .box-container .box
{
    padding: 50px;
    border: 1px solid var(--color-brown);
    border-left: none;
    text-align: center;
}

.products .box-container .box:nth-child(1)
{
    border-left: 1px solid var(--color-brown);
}

.products .box-container .box .image
{
    position: relative;
    display: inline-block;
}

.products .box-container .box .image img
{
    display: block;
    width: 100%;
    height: auto;
}

.product-link
{
    text-decoration: none;
    position: relative;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.product-link:hover .overlay
{
    opacity: 1;
}
  
.text
{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b6b6b6;
}

.products .box-container .box .content
{
    margin-top: 1.5rem;
}

.products .box-container .box .content h4
{
    color: var(--color-brown);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.products .box-container .box .content h5
{
    color: #b6b6b6;
    font-size: 0.9rem;
    font-weight: 300;
}