.swiper-button-prev::after, .swiper-button-next::after
{
    color: var(--color-brown);
    background-color: #f8f7e2;
    padding: 20px 26px;
    border-radius: 50px;
    font-size: 25px !important;
}

.swiper-button-prev::after
{
    margin-left: 100px;
}

.swiper-button-next::after
{   
    margin-right: 100px;
}