@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  text-decoration: none;
  list-style: none;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #ad9056;
}

:root {
  --color-brown: #ad9056;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #000000;
  --color-text: var(--color-brown);
}

body[data-theme='light'] {
  --color-bg: #ffffff;
  --color-text: #222222;
}

body[data-theme='dark'] {
  --color-bg: #000000;
  --color-text: var(--color-brown);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}